.header {
  display: flex;
  border: 1px solid black;
  height: 25px;
  background-color: orange;

  .header-title {
    margin: auto;
    font-weight: bold;
  }

  img {
    width: 20px;
    height: 20px;
    margin: auto 0;

    &:hover {
      cursor: pointer;
    }
  }
}
